@import "./common.css";

@keyframes fade-in_1{
  0%{
    opacity: 0;
    filter: blur(100px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
  }
}
header.header{
  animation: fade-in_1 1.5s ease-out 1s both;
}
/* banner */
div.banner{
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url(../img/1_home/banner_home.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  opacity: 0;
  animation: fade-in_1 2.2s ease-out both;
}

@keyframes slide-down {
  0%{
    transform: translate(-48%, -150%);
    opacity: 0;
  }
  100%{
    transform: translate(-48%, -48%);
    opacity: 1;
  }
}
div.bg_block{
  width: 510px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
  background-color: hsla(0, 0%, 100%, .75);
  box-shadow: 0px 0px 30px 45px hsla(0, 0%, 100%, .75);
  opacity: 0;
  animation: slide-down 2s ease 2.1s both;
}

@keyframes slide-up {
  0%{
    transform: translate(-49%, 200%);
    opacity: 0;
  }
  100%{
    transform: translate(-49%, -50%);
    opacity: 1;
  }
}
h2.bg_text{
  letter-spacing: 10px;
  text-indent: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
  opacity: 1;
  animation: slide-up 2s ease 2.1s both;
}

/* scroll_arrow動畫 */
@keyframes scroll {
  50%{
    transform: translate(-50%, -25%);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}
@keyframes shadow {
  25%{
    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
  }
  50%{
    filter: drop-shadow(1px 1px 12px rgba(0, 0, 0, 0.5));
  }
  75%{
    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
  }
  100%{
    filter: drop-shadow(1px 1px 12px rgba(0, 0, 0, 0.5));
  }
}
@keyframes fade-in_2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
div.scroll_arrow{
  display: inline-block;
  background-image: url("../img/1_home/scroll_arrow.png");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 12px rgba(0, 0, 0, 0.5));
  z-index: 1;
  opacity: 1;
  animation: fade-in_2 0.5s ease 3.8s both,
            scroll 2s linear infinite both,
            shadow 2s linear infinite both;
}
@media (min-width: 992px) and (max-width: 1199.9px){
  div.bg_block{
    width: 430px;
    height: 210px;;
  }
  h2.bg_text{
    font-size: 28px;
  }
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.bg_block{
    width: 420px;
    height: 200px;;
  }
  h2.bg_text{
    font-size: 26px;
  }
  div.scroll_arrow{
    transform: translate(-25%, -50%);
  }
  @keyframes scroll {
    50%{
      transform: translate(-25%, -25%);
    }
    100%{
      transform: translate(-25%, -50%);
    }
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.bg_block{
    width: 350px;
    height: 150px;
  }
  h2.bg_text{
    font-size: 24px;
    transform: translate(-10%, -50%);
  }
  div.scroll_arrow{
    transform: translate(-10%, -50%);
  }
  @keyframes scroll {
    50%{
      transform: translate(-10%, -25%);
    }
    100%{
      transform: translate(-10%, -50%);
    }
  }
}
@media (max-width: 575.9px){
  div.banner{
    background-image: url(../img/1_home/mobile_bg.jpg);
  }
  div.bg_block{
    width: 200px;
    height: 90px;
  }
  h2.bg_text{
    font-size: 20px;
    letter-spacing: 6px;
    text-indent: 6px;
  }
  div.scroll_arrow{
    transform: translate(0%, -50%);
  }
  @keyframes scroll {
    50%{
      transform: translate(0%, -25%);
    }
    100%{
      transform: translate(0%, -50%);
    }
  }
}

div.parent_container{
  text-align: center;
}

/* 簡介 */
div.brand_introduction{
  margin: 120px auto 100px;
  width: 972px;
}
div.brand_introduction > img{
  display: inline-block;
  width: 300px;
  height: 108px;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, .16));
}
div.brand_introduction h1{
  padding-top: 45px;
  letter-spacing: 5px;
  text-indent: 5px;
}
/* 輪播 */
#slider{
  margin: 52px auto 20px;
  width: 580px;
  height: 472px;
}
div.brand_introduction p{
  letter-spacing: 10px;
  text-indent: 10px;
  line-height: 4;
  margin-top: 60px;
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.brand_introduction{
    margin: 120px auto 70px;
    width: 748px;
  }
  div.brand_introduction > img{
    width: 270px;
    height: 97px;
  }
  div.brand_introduction h1{
    font-size: 27.5px;
    padding-top: 32px;
    letter-spacing: 1px;
    text-indent: 0;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.brand_introduction{
    margin: 90px auto 110px;
    width: 556px;
  }
  div.brand_introduction > img{
    width: 210px;
    height: 76px;
  }
  div.brand_introduction h1{
    font-size: 21.2px;
    padding-top: 24px;
    letter-spacing: 0;
    text-indent: 0;
  }
  #slider{
    margin: 34px auto 20px;
    width: 406px;
    height: 330px;
  }
  div.brand_introduction p{
    letter-spacing: 8px;
    text-indent: 8px;
    line-height: 2.9;
    margin-top: 75px;
  }
}
@media (max-width: 575.9px){
  div.brand_introduction{
    margin: 60px auto 70px;
    width: 350px;
  }
  div.brand_introduction > img{
    width: 180px;
    height: 65px;
  }
  div.brand_introduction h1{
    font-size: 13.4px;
    padding-top: 14px;
    letter-spacing: 0;
    text-indent: 0;
  }
  #slider{
    margin: 40px auto 20px;
    width: 319px;
    height: 260px;
  }
  div.brand_introduction p{
    letter-spacing: 2px;
    text-indent: 0px;
    line-height: 2.5;
    margin-top: 70px;
  }
}

/* 花藝課程 */
div.course_container{
  background-color: rgba(244, 239, 225, .25);
  margin: 0 auto;
  padding-bottom: 130px;
}
div.course_container > h1{
  padding-top: 110px;
  margin-bottom: 24px;
}
div.course_group{
  margin: 0 auto;
  width: 838px;
  position: relative;
}
/* 課程內容 */
div.course_1,
div.course_2{
  background-color: white;
  width: 830px;
  height: 318px;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: transform .8s ease-out;
}
div.course_2{
  margin: 100px 0;
}
div.course_1:hover,
div.course_2:hover{
  transform: scale(1.1);
}
div.course_1 img,
div.course_2 img{
  width: 50%;
  height: 100%;
}
div.course_1 img{
  float: left;
}
div.course_2 img{
  float: right;
}
div.content_1 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(120%, -45%);
}
div.content_2 {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-128%, -48%);
}
div.content_1 h1,
div.content_2 h1{
  padding: 0;
}
div.content_1 h2,
div.content_2 h2{
  letter-spacing: 5px;
  margin: 40px 0 14px 0;
  text-align: center;
}
div.content_1 p,
div.content_2 p{
  text-align: center;
  margin: 0;
}
/* 更多課程按鈕 */
a.more_courses{
  text-decoration: none;
}
button.more_courses.more{
  width: 170px;
  height: 60px;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%) scale(1) ;
  transition: all .5s ease-out;
}
button.more_courses.more:hover{
  transform: translateX(-50%) scale(1.1) ;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, .3);
}
@media (min-width: 992px) and (max-width: 1199.9px){
  div.course_group{
    width: 754px;
  }
  div.course_1,
  div.course_2{
    width: 747px;
    height: 286px;
  }
  div.course_2{
    margin: 60px 0;
  }
  div.content_1 {
    transform: translate(112%, -45%);
  }
  div.content_2 {
    transform: translate(-118%, -46%);
  }
  div.content_1 h2,
  div.content_2 h2{
    margin: 30px 0 14px 0;
  }
  button.more_courses.more{
    bottom: -10%;
  }
  button.more_courses.more:hover{
    bottom: -10%;
  }
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.course_container{
    padding-bottom: 130px;
  }
  div.course_container > h1{
    padding-top: 90px;
  }
  div.course_container p.description{
    margin-bottom: 55px;
  }
  div.course_group{
    width: 670px;
  }
  /* 課程內容 */
  div.course_1,
  div.course_2{
    width: 664px;
    height: 254px;
  }
  div.course_2{
    margin: 60px 0;
  }
  div.content_1 {
    transform: translate(112%, -48%);
  }
  div.content_2 {
    transform: translate(-116%, -49%);
  }
  div.content_1 h1,
  div.content_2 h1{
    font-size: 28px;
  }
  div.content_1 h2,
  div.content_2 h2{
    font-size: 26px;
    letter-spacing: 4px;
    margin: 30px 0 14px 0;
  }
  div.content_1 p,
  div.content_2 p{
    margin: 0;
  }
  button.more_courses.more{
    width: 155px;
    letter-spacing: 8px;
    text-indent: 8px;
    bottom: -10%;
  }
  button.more_courses.more:hover{
    bottom: -10%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.course_container{
    padding-bottom: 120px;
  }
  div.course_container > h1{
    padding-top: 70px;
  }
  div.course_container p.description{
    margin-bottom: 50px;
  }
  div.course_group{
    width: 500px;
  }
  div.course_1,
  div.course_2{
    width: 374px;
    height: 286px;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    overflow: visible;
    position: relative;
  }
  div.course_2{
    margin: 220px auto;
  }
  div.course_1:hover,
  div.course_2:hover{
    transform: none;
  }
  div.course_1 img,
  div.course_2 img{
    width: 100%;
    float: none;
    border-radius: 10px 10px 0 0;
  }
  div.content_1,
  div.content_2{
    width: 100%;
    display: block;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 0 0 10px 10px;
  }
  div.content_1{
    transform: translate(0, 0);
  }
  div.content_2{
    transform: translate(-50%, 0);
  }
  div.content_1 h1,
  div.content_2 h1{
    margin: 22px auto 18px;
    font-size: 26px;
    text-indent: 0;
  }
  div.content_1 h2,
  div.content_2 h2{
    font-size: 22px;
    letter-spacing: 3px;
    margin: auto auto 5px;
    text-align: center;
  }
  div.content_1 p,
  div.content_2 p{
    padding-bottom: 22px;
    letter-spacing: 2px;
    font-size: 16px;
  }
  button.more_courses.more{
    width: 148px;
    height: 56px;
    font-size: 18px;
    letter-spacing: 6px;
    text-indent: 6px;
    bottom: -35%;
    right: 50%;
    transform: translateX(-50%);
  }
  button.more_courses.more:hover{
    transform: translateX(-50%);
    box-shadow: none;
  }
}
@media (max-width: 575.9px){
  div.course_container{
    padding-bottom: 115px;
  }
  div.course_container > h1{
    padding-top: 70px;
  }
  div.course_container p.description{
    letter-spacing: 4px;
    text-indent: 4px;
    margin-bottom: 36px;
  }
  div.course_group{
    width: 320px;
  }
  div.course_1,
  div.course_2{
    width: 300px;
    height: 229px;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    overflow: visible;
    position: relative;
  }
  div.course_2{
    margin: 150px auto;
  }
  div.course_1:hover,
  div.course_2:hover{
    transform: none;
  }
  div.course_1 img,
  div.course_2 img{
    width: 100%;
    float: none;
    border-radius: 10px 10px 0 0;
  }
  div.content_1,
  div.content_2{
    width: 100%;
    display: block;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 0 0 10px 10px;
  }
  div.content_1{
    transform: translate(0, 0);
  }
  div.content_2{
    transform: translate(-50%, 0);
  }
  div.content_1 h1,
  div.content_2 h1{
    margin: 16px auto 10px;
    letter-spacing: 8px;
    font-size: 24px;
    text-indent: 4px;
  }
  div.content_1 h2,
  div.content_2 h2{
    font-size: 20px;
    letter-spacing: 3px;
    margin: auto auto 14px;
  }
  div.content_1 p,
  div.content_2 p{
    display: none;
  }
  button.more_courses.more{
    width: 148px;
    height: 56px;
    letter-spacing: 6px;
    text-indent: 6px;
    bottom: -35%;
    right: 50%;
    transform: translateX(-50%);
  }
  button.more_courses.more:hover{
    transform: translateX(-50%);
    box-shadow: none;
  }
}


/* 訂製花禮 */
div.product_container{
  width: 1180px;
  margin: 120px auto 0;
  position: relative;
}
h1{
  margin-bottom: 24px;
}

/* 鮮花花禮 */
div.fresh_flower{
  background-color: rgba(244, 239, 225, .25);
  width: 896px;
  padding: 40px 78px 40px 140px;
}
/* 乾燥花禮 */
div.dried_flower{
  width: 451px;
  height: 518px;
  margin-left: auto;
  margin-right: 136px;
  display: block;
}
/* 婚禮花藝 */
div.wedding_flower{
  background-color: rgba(244, 239, 225, 0.25);
  width: 994px;
  padding: 48px 516px 104px 72px;
  margin-left: auto;
  position: relative;
  transform: translateY(-30%);
}
a.fresh_flower,
a.dried_flower,
a.wedding_flower{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  text-decoration: none;
}
a.dried_flower{
  z-index: 5;
  transform: translateY(-20%);
}
/* 轉場效果 */
a.fresh_flower:hover img,
a.dried_flower:hover img,
a.wedding_flower:hover img{
  transform: scale(1.05);
  box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.16);
}
a.fresh_flower:hover h2,
a.wedding_flower:hover h2{
  transform: translate(100%, -50%);
}
a.dried_flower:hover h2{
  transform: translate(-100%, -50%);
}
/* 圖片設定 */
a.fresh_flower img,
a.dried_flower img,
a.wedding_flower img{
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  z-index: 1;
  position: relative;
  transform: scale(1);
  transition: all 1.2s ease-out;
}
a.dried_flower img{
  z-index: 4;
}
a.wedding_flower img{
  z-index: 2;
}
/* 文字框設定 */
a.fresh_flower h2,
a.dried_flower h2,
a.wedding_flower h2{
  letter-spacing: 10px;
  text-indent: 10px;
  width: 250px;
  height: 84px;
  line-height: 84px;
  text-align: center;
  background-color: #F4F0ED;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 1.2s ease;
}
a.fresh_flower h2{
  border-radius: 0 5px 5px 0;
  right: 0;
  z-index: 0;
}
a.dried_flower h2{
  border-radius: 0 5px 5px 0;
  z-index: 3;
  left: 0;
}
a.wedding_flower h2{
  border-radius: 0 5px 5px 0;
  right: 0;
  z-index: 1;
}
/* 了解更多按鈕 */
button.more_product.more{
  width: 170px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 14%;
  transform: translateY(-525%) scale(1);
  transition: all .5s ease-out;
  }
button.more_product.more:hover{
  transform: translateY(-525%) scale(1.1);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, .3);
}
@media (min-width: 992px) and (max-width: 1199.9px){
  div.product_container{
    width: 930px;
    height: 1720px;
    margin: 60px auto 0;
  }
  div.product_container p.description{
    margin-bottom: 50px;
  }
  div.fresh_flower{
    width: 800px;
    padding: 34px 10px 34px 140px;
  }
  div.dried_flower{
    width: 450px;
    height: 518px;
    margin-right: 0px;
  }
  div.wedding_flower{
    width: 780px;
    padding: 50px 300px 85px 60px;
    transform: translateY(-45%);
  }
  a.fresh_flower,
  a.dried_flower,
  a.wedding_flower{
    width: 85%;
    height: 85%;
  }
  a.fresh_flower h2,
  a.dried_flower h2,
  a.wedding_flower h2{
    letter-spacing: 8px;
    text-indent: 8px;
    width: 208px;
    height: 76px;
    line-height: 76px;
  }
  button.more_product..more{
    bottom: -5.5%;
    right: 10%;
  }
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.product_container{
    width: 748px;
    height: 1420px;
    margin: 60px auto 0;
  }
  div.product_container p.description{
    margin-bottom: 45px;
  }
  div.fresh_flower{
    width: 580px;
    padding: 24px 47px 24px 90px;
  }
  div.dried_flower{
    width: 300px;
    height: 350px;
    margin-right: 45px;
  }
  div.wedding_flower{
    width: 620px;
    height: 480px;
    padding: 25px 280px 40px 60px;
      transform: translateY(-32%);
  }
  a.fresh_flower h2,
  a.dried_flower h2,
  a.wedding_flower h2{
    font-size: 24px;
    letter-spacing: 6px;
    text-indent: 6px;
    width: 175px;
    height: 76px;
    line-height: 76px;
  }
  button.more_product.more{
    width: 155px;
    letter-spacing: 8px;
    text-indent: 8px;
    bottom: -8.2%;
    right: 7.5%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.product_container{
    width: 556px;
    height: 1480px;
    margin: 0 auto;
  }
  div.product_container p.description{
    margin-bottom: 30px;
  }
  div.fresh_flower{
    width: 430px;
    padding: 10px 20px 8px 20px;
    background-color: white;
  }
  div.dried_flower{
    width: 280px;
    height: 335px;
    margin-right: 0;
  }
  a.dried_flower{
    transform: translateY(0);
  }
  div.wedding_flower{
    background-color: white;
    width: 520px;
    height: 350px;
    padding: 10px 230px 0px 30px;
    transform: translateY(-2%);
  }
  a.fresh_flower:hover img,
  a.dried_flower:hover img,
  a.wedding_flower:hover img{
    transform: none;
  }
  a.fresh_flower h2,
  a.dried_flower h2,
  a.wedding_flower h2{
    font-size: 22px;
    letter-spacing: 5px;
    text-indent: 5px;
    width: 140px;
    height: 66px;
    line-height: 66px;
    top: 50%;
    transform: translate(100%, -50%);
    transition: none;
  }
  a.dried_flower h2{
    transform: translate(-100%, -65%);
  }
  a.dried_flower:hover h2{
    transform: translate(-100%, -65%);
  }
  /* 了解更多按鈕 */
  button.more_product.more{
    width: 148px;
    height: 56px;
    letter-spacing: 6px;
    text-indent: 6px;
    bottom: 8.5%;
    right: 50%;
    transform: translateX(50%);
  }
  button.more_product.more:hover{
    transform: translateX(50%);
    box-shadow: none;
  }
}
@media (max-width: 575.9px){
  div.product_container{
    width: 350px;
    height: 1460px;
    margin: 10px auto 0;
  }
  div.product_container p.description{
    letter-spacing: 4px;
    text-indent: 4px;
    margin-bottom: 30px;
  }
  div.fresh_flower{
    width: 350px;
    padding: 0;
    background-color: white;
    margin-bottom: 30px;
    font-size: 0;
  }
  a.fresh_flower h2,
  a.dried_flower h2,
  a.wedding_flower h2{
    font-size: 20px;
    letter-spacing: 5px;
    text-indent: 5px;
    width: 130px;
    height: 48px;
    line-height: 48px;
    top: 100%;
    right: 0;
    transition: none;
    border-radius: 0;
    z-index: 1;
  }
  a.fresh_flower h2{
    transform: translate(1% ,-134%);
  }
  a.fresh_flower:hover h2{
    transform: translate(1% ,-134%);
  }
  div.dried_flower{
    width: 290px;
    height: 330px;
    margin: 30px auto;
    padding: 0;
    font-size: 0;
  }
  a.dried_flower{
    top: 0;
    left: 0;
    transform: translateY(0);
  }
  a.dried_flower h2{
    right: 100%;
    transform: translate(0 ,-134%);
    z-index: 6;
  }
  a.dried_flower:hover h2{
    right: 100%;
    transform: translate(0 ,-134%);
  }
  div.wedding_flower{
    background-color: white;
    width: 290px;
    height: 360px;
    padding: 0;
    margin: 30px auto;
    font-size: 0;
    transform: translateY(0%);
  }
  a.wedding_flower h2{
    right: 0;
    transform: translate(1% ,-134%);
    z-index: 2;
  }
  a.wedding_flower:hover h2{
    right: 0;
    transform: translate(1% ,-134%);
  }
  a.fresh_flower:hover img,
  a.dried_flower:hover img,
  a.wedding_flower:hover img{
    transform: none;
    box-shadow: none;
  }
  button.more_product.more{
    width: 148px;
    height: 56px;
    letter-spacing: 6px;
    text-indent: 6px;
    bottom: 6%;
    right: 50%;
    transform: translateX(50%);
  }
  button.more_product.more:hover{
    transform: translateX(50%);
    box-shadow: none;
  }
}

/* blog */
div.blog_container{
  background-color: rgba(244, 239, 225, 0.25);
  padding-bottom: 100px;
}
div.blog_container > h1{
  padding-top: 100px;
  margin-bottom: 24px;
}

/* blog文章 */
@keyframes pop_up{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
div.blog_group{
  width: 1120px;
  margin: 0 auto;;
  display: flex;
  justify-content: space-between;
}
div.blog_group div{
  width: 33%;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  transform: scale(1);
  position: relative;
  transition: all 1s ease;
}

/* 進場動畫 1 & 3*/
div.blog_container.aos-animate div.blog_group div.design_sharing,
div.blog_container.aos-animate div.blog_group div.my_mood{
  animation: pop_up 1.2s ease-out 0.3s backwards;
}
/* 進場動畫 2 */
div.blog_container.aos-animate div.blog_group  div.flower_notes{
  margin: auto 24px;
  animation: pop_up 1.2s ease-out backwards;
}
/* 轉場 */
div.design_sharing:hover,
div.flower_notes:hover,
div.my_mood:hover{
  box-shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
/* blog內容 */
div.blog_group div a{
  width: 100%;
  /* height: 100%; */
  display: inline-block;
  text-decoration: none;
}
div.blog_group div a img{
  width: 100%;
  object-fit: cover;
}
div.blog_group div a span.category{
  color: white;
  letter-spacing: 4px;
  position: absolute;
  top: 38%;
  right: 22px;
  transform: translateY(-125%);
}
div.blog_group div.flower_notes a span.category{
  color: #B2B2B2;
}
div.blog_group div a h2{
  display: block;
  letter-spacing: 3px;
  text-align: left;
  margin: 32px 16px 24px;
}
div.blog_group div a time{
  display: block;
  color: #B2B2B2;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 32px;
}
div.blog_group div a p{
  display: block;
  width: 83%;
  text-align: left;
  line-height: 2.5;
  margin: 8px auto 15px;
}
div.blog_group div a span.more{
  display: block;
  color: #A8A393;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: right;
  margin: 40px 30px;
}
@media (min-width: 992px) and (max-width: 1199.9px){
  div.blog_container h1{
    padding-top: 80px;
  }
  div.blog_container p.description{
    margin-bottom: 50px;
  }
div.blog_group{
    width: 890px;
  }
div.blog_group div a span.category{
    top: 30%;
    right: 16px;
    transform: translateY(-50%);
  }
  div.blog_group div a h2{
      margin: 28px 16px 18px;
  }
  div.blog_group div a p{
    width: 79%;
    text-align: left;
    line-height: 2.1;
    margin: auto auto 26px;
  }
  div.blog_group div.design_sharing a p{
    margin: 8px auto 57px;
  }
  div.blog_group div.my_mood a p{
    margin: 8px auto 20px;
  }
  div.blog_group div a span.more{
    margin: auto 17px 20px;
  }
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.blog_container h1{
    padding-top: 80px;
  }
  div.blog_container p.description{
    margin-bottom: 50px;
  }
  div.blog_group{
      width: 730px;
      display: flex;
      justify-content: center;
    }
  div.blog_group div a span.category{
      top: 30%;
      right: 16px;
      transform: translateY(-150%);
    }
  div.blog_group div a h2{
      font-size: 24px;
      margin: 20px 4px 18px;
    }
  div.blog_group div a time{
    margin-left: 20px;
  }
  div.blog_group div a p{
      width: 84%;
      text-align: left;
      line-height: 2;
      margin: 8px auto 0;
    }
  div.blog_group div.design_sharing a p{
      margin: 8px auto 76px;
    }
  div.blog_group div.my_mood a p{
      margin: 8px auto 39px;
    }
  div.blog_group div a span.more{
    margin: auto 17px 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.blog_container{
    padding-bottom: 60px;
  }
  div.blog_container > h1{
    padding-top: 80px;
    margin-bottom: 18px;
  }
  div.blog_container p.description{
    margin-bottom: 36px;
  }
  div.blog_group{
    width: 340px;
    height: 1680px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  div.blog_group div{
    width: 100%;
  }
  div.blog_group div a span.category{
    top: 35%;
    right: 16px;
    transform: translateY(100%);
  }
  div.blog_group div a h2{
    margin: 16px 16px 12px;
  }
  div.blog_group div a p{
    width: 82%;
    line-height: 1.6;
  }
  div.blog_group div.flower_notes a p{
    white-space: nowrap;
  }
  div.blog_group div a span.more{
    margin: 12px 30px 20px;
  }
  div.blog_container.aos-animate div.blog_group div.design_sharing,
  div.blog_container.aos-animate div.blog_group div.flower_notes,
  div.blog_container.aos-animate div.blog_group div.my_mood{
    animation: none;
  }
}
@media (max-width: 575.9px){
  div.blog_container{
    padding-bottom: 60px;
  }
  div.blog_container > h1{
    padding-top: 70px;
    margin-bottom: 16px;
  }
  div.blog_container p.description{
    letter-spacing: 4px;
    text-indent: 4px;
    margin-bottom: 36px;
  }
  div.blog_group{
    width: 300px;
    height: 1000px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  div.blog_group div{
    width: 100%;
  }
  div.blog_group div a span.category{
    top: 50%;
    right: 15px;
    transform: translateY(140%);
  }
  div.blog_group div a h2{
    font-size: 20px;
    margin: 8px auto;
    text-align: center;
  }
  div.blog_group div a time{
    text-align: center;
    font-size: 16px;
    margin: auto auto 10px;
  }
  div.blog_group div a p,
  div.blog_group div a span.more{
    display: none;
  }
  div.blog_container.aos-animate div.blog_group div.design_sharing,
  div.blog_container.aos-animate div.blog_group div.flower_notes,
  div.blog_container.aos-animate div.blog_group div.my_mood{
    animation: none;
  }
}

/* 結語 */
section{
  padding: 110px 0 90px;
  position: relative;
}
div.conclusion{
  display: block;
  background-color: rgba(255, 255, 255, .45);
  background-image: url(../img/1_home/iris_2.svg);
  background-blend-mode: multiply;
  width: 614px;
  height: 536px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

/* 結語文字動畫 */
@keyframes appear {
  0%{
    opacity: 0;
    transform: translate(-50%, -50%) scaleY(0);
    filter: blur(20px);
  }
  100%{
    opacity: 1;
    transform: translate(-50%, -50%) scaleY(1);
    filter: blur(0);
  }
}
section.aos-animate div.conclusion h2{
  animation: appear 1.2s ease-in-out both;
}
div.conclusion h2{
  display: inline-block;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  letter-spacing: 8px;
  text-indent: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0);
  transform-origin: 50% 0%;
}
section.aos-animate #go_top{
  opacity: 1;
  transition: all 1s ease 1.2s;
  filter: blur(0);
}
#go_top{
  display: inline-block;
  background-image: url(../img/1_home/go-top.svg);
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  opacity: 0;
  filter: blur(10px);
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.conclusion h2{
    letter-spacing: 6px;
    text-indent: 6px;
  }
  #go_top{
    width: 76px;
    height: 76px;
    bottom: 16px;
    right: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.conclusion{
    width: 400px;
    height: 427px;
  }
  div.conclusion h2{
    font-size: 22px;
    letter-spacing: 3px;
    text-indent: 3px;
  }
  #go_top{
    width: 68px;
    height: 68px;
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 575.9px){
  section{
    padding: 75px 0;
  }
  div.conclusion{
    width: 280px;
    height: 299px;
  }
  div.conclusion h2{
    font-size: 15px;
    letter-spacing: 1px;
    text-indent: 1px;
    }
  #go_top{
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
  }
  }
