@import "./common.css";
/* banner */
nav.nav ul.nav_list > li:nth-child(1) > a{
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
div.banner{
  background-image: url(../img/2_about_me/banner.png);
}
/* 關於我 */
div.about_me{
  width: 100%;
  background-color: rgba(244, 239, 225, .25);
  padding-bottom: 60px;
}

div.para{
  width: 1200px;
  margin: 40px auto;
  display: block;
}
div.para p{
  display: block;
  vertical-align: middle;
  line-height: 2.3;
  margin-left: 75px;
  text-align: left;
}
div.para div.myself{
  display: inline-block;
  float: right;
  width: 400px;
  height: 450px;
  margin: 20px 75px 18px 65px;
  position: relative;
}
div.para div.myself img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  animation: round 15s linear infinite;
}
@keyframes round {
  7%{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  35%{
    opacity:  1;
    filter: alpha(opacity=100);
    }
  42%{
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
div.para div.myself img:nth-child(2) {
  animation-delay: 5s;
}
div.para div.myself img:nth-child(3) {
  animation-delay: 10s;
}
div.para div.myself:hover img{
  animation-play-state: paused;
}
/* 品牌初衷 */
h1.about_brand{
  padding-top: 100px;
}
div.para_1.aos-animate{
  opacity: 1;
  filter: blur(0);
  transition: all 1s ease-in;
}
div.para_1{
  width: 700px;
  height: 508px;
  background-image: url("../img/2_about_me/scene.jpg");
  background-size: cover;
  margin: 65px auto 40px;
  opacity: 0;
  filter: blur(30px);
}
p.text_1{
  text-align: center;
  margin: 0 auto;
  line-height: 2;
}

div.para_2{
  margin: 100px auto;
}
div.photo_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px 0 40px 0;
}
div.photo_1.aos-animate,
div.photo_2.aos-animate{
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
  transition: all 1.2s ease-out;
}
div.photo_1, div.photo_2{
  width: 320px;
  height: 320px;
  background-size: cover;
  transform: scale(0);
  opacity: 0;
  filter: blur(10px);
}
div.photo_1{
  background-image: url(../img/2_about_me/bouquet_1.jpg);
  margin-right: 30px;
}
div.photo_2{
  background-image:url(../img/2_about_me/bouquet_2.jpg);
}
p.text_2{
  text-align: center;
  margin: 0 auto;
  line-height: 2;
}
