@import "./common.css";
/* banner */
nav.nav ul.nav_list > li:nth-child(2) > div.order_flower{
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
div.banner{
  background-image: url(../img/4_course_page/banner.jpg);
}

/* 主課程照片 */
div.main_container{
  width: 100%;
  background-color: rgba(244, 239, 225, .25);
  display: flex;
  justify-content: center;
}
div.img_container{
  display: inline-block;
  float: left;
  margin: 100px 60px 58px 0px;
  font-size: 0;
}
img.img_1.-on,
img.img_2.-on,
img.img_3.-on{
  display: inline-block;
}
img.img_1,
img.img_2,
img.img_3{
  display: none;
}
div.img_group{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/* 選單 */
div.content{
  display: inline-block;
  margin: 0;
}
div.content h1{
  margin-top: 95px;
  padding: 0;
  text-align: left;
}
div.content h2{
  margin: 32px 0 18px 24px;
}
/* 下拉選單 */
select.time{
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;

  color: #A8A393;
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 1px;

  margin: 0 0 120px 24px;
  border: 1px solid #A8A393;
  outline: none;
  padding: 6px 60px 6px 20px;
  box-shadow: none;

  background-image: url("../img/4_course_page/custom.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: right 20px top 16px;
}
select.time option{
  width: 100%;
  color: #A8A393;
  font-size: 18px;
  border: 1px solid #A8A393;
  letter-spacing: 1px;
}
/* 備註 */
form label{
  margin: 80px 0 24px 24px;
  font-size: 28px;
  color: #9D7C62;
  letter-spacing: 5px;
}
form textarea{
  margin: 8px 0 24px 24px;
  border: 1px solid #A8A393;
  width: 337px;
  height: 120px;
  resize: none;
  outline: none;
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 3px;
  text-indent: 3px;
  color: #A8A393;
}
button{
  display: block;
  border: none;
  width: 172px;
  height: 56px;
  font-size: 18px;
  color: #9D7C62;
  font-weight: bold;
  background-color: #F4F0ED;
  font-family: 'Noto Serif TC', serif;;
  letter-spacing: 5px;
  text-indent: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, .8);
  cursor: pointer;
  margin: 50px auto 80px;
}
button:hover{
  color: white;
  background-color: #9D7C62;
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.img_container{
    margin: 100px 0 58px;
  }
  select.time{
    padding: 6px 28px 6px 11px;
    letter-spacing: 0;
    background-size: 10px;
    background-position: right 9px top 17px;
  }
  form textarea{
    margin: 8px 0 24px 24px;
    border: 1px solid #A8A393;
    width: 278px;
  }
  button{
    margin: 30px auto 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.img_container{
    margin: 100px 0 10px;
    font-size: 0;
  }
  div.content{
    padding-right: 20px;
  }
  div.content h1{
    margin-top: 75px;
    padding: 0;
    text-align: left;
  }
  select.time{
    margin: 0 0 105px 24px;
  }
  button{
    margin: 30px auto 50px;
  }
}
@media (max-width: 575.9px){
  div.main_container{
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  div.img_container{
    margin: 100px auto 10px;
    width: 324px;
  }
  div.img_container > img{
    width: 100%;
  }
  div.img_group {
    margin-top: 35px;
  }
  div.img_group > img{
    width: 30%;
  }
  div.content{
    padding-right: 20px;
  }
  select.time{
    padding: 6px 28px 6px 11px;
    letter-spacing: 0;
    background-size: 10px;
    background-position: right 9px top 17px;
  }
  div.content h1{
    margin-top: 55px;
    padding: 0;
    text-align: left;
  }
  select.time{
    margin: 0 0 105px 24px;
  }
  form textarea{
    margin: 8px 0 24px 24px;
    border: 1px solid #A8A393;
    width: 278px;
  }
  button{
    margin: 30px auto 50px;
  }
}

/* 說明與注意事項 */
div.explanation div:first-child{
  margin: 10px auto 90px;
  width: 840px;
}
div.explanation div:nth-child(2){
  background-color: rgba(244, 239, 225, .25);
  margin: 10px auto 0;
  padding-bottom: 90px;
}
div.explanation div:nth-child(2) h1{
  padding-top: 80px;
}
div.explanation div p{
  margin-top: 30px;
  letter-spacing: 1px;
  text-align: left;
}
div.explanation div ol{
  display: block;
  width: 840px;
  padding-left: 22px;
  letter-spacing: 1px;
  margin: 45px auto 0;
  line-height: 1.5;
}
@media (min-width: 768px) and ( max-width: 991.9px){
  div.explanation div:first-child{
    width: 680px;
  }
  div.explanation div:nth-child(2){
    padding-bottom: 60px;
  }
  div.explanation div:nth-child(2) h1{
    padding-top: 50px;
  }
  div.explanation div ol{
      width: 680px;
      margin: 30px auto 0;
  }
  div.explanation div ol li{
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.explanation div:first-child{
    width: 470px;
  }
  div.explanation div:first-child h1{
    padding-top: 60px;
    margin-bottom: 30px;
  }
  div.explanation div:nth-child(2){
    padding-bottom: 60px;
  }
  div.explanation div:nth-child(2) h1{
    padding-top: 60px;
    margin-bottom: 30px;
  }
  div.explanation div ol{
      width: 470px;
      margin: 30px auto 0;
  }
  div.explanation div ol li{
    margin-bottom: 10px;
  }
}
@media (max-width: 575.9px){
  div.explanation div:first-child{
    width: 320px;
    margin: 10px auto 50px;
  }
  div.explanation div:first-child h1{
    padding-top: 60px;
    margin-bottom: 30px;
  }
  div.explanation div:nth-child(2){
    padding-bottom: 30px;
  }
  div.explanation div:nth-child(2) h1{
    padding-top: 60px;
    margin-bottom: 30px;
  }
  div.explanation div ol{
      width: 320px;
      margin: 30px auto 0;
  }
  div.explanation div ol li{
    margin-bottom: 10px;
  }
}

/* 更多課程 */
section{
  width: 1180px;
  padding: 0 auto 30px;
  margin: 120px auto 90px;
  /* border: 1px solid red; */
}
section h1{
  width: 100%;
  padding: 0;
}
section > div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
section > div a:nth-child(2){
  margin: auto 10px;
}
section > div a{
  border: 1px solid rgba(0, 0, 0, .16);
  display: block;
  width: 33%;
  font-size: 0;
  text-decoration: none;
  text-align: center;
  padding-bottom: 10px;
}
section > div a div{
  position: relative;
}
section > div a div img{
  width: 100%;
}
section > div a div h2{
  display: none;
  color: white;
  line-height: 2.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -58%);
}
section > div a div h2 span{
  font-size: 20px;
  color: lightgray;
  letter-spacing: 2px;
  text-indent: 2px;
}
section > div a:hover img{
  filter: brightness(.35);
}
section > div a:hover h2{
  display: block;
}
section > div a h2{
  margin: 15px auto 10px;
}
section > div a p{
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199.9px){
  section{
    width: 890px;
  }
  section > div a div h2{
    line-height: 2;
  }
}
@media (min-width: 768px) and ( max-width: 991.9px){
  section{
    width: 750px;
    margin: 70px auto;
  }
  section > div a div h2{
    line-height: 2;
    font-size: 22px;
  }
  section > div a div h2 span{
    font-size: 18px;
    letter-spacing: 2px;
    text-indent: 2px;
  }
  section > div a h2{
    font-size: 22px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  section{
    width: 558px;
    margin: 70px auto;
  }
  section > div{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  section > div > a{
    width: 372px;
  }
  section > div > a:nth-child(2){
    margin: 40px auto;
  }
}
@media (max-width: 575.9px){
  section{
    width: 350px;
    margin: 70px auto;
  }
  section > div{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  section > div > a{
    width: 320px;
  }
  section > div > a:nth-child(2){
    margin: 30px auto;
  }
  section > div a div h2{
    line-height: 2;
    font-size: 22px;
  }
  section > div a div h2 span{
    font-size: 18px;
    letter-spacing: 2px;
    text-indent: 2px;
  }
  section > div a h2{
    font-size: 22px;
  }
}
