@import "./common.css";
/* banner */
nav.nav ul.nav_list > li:nth-child(4) > a{
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
div.banner{
  background-image: url(../img/7_blog/banner.jpg);
}
main{
  margin: 0 auto 90px;
  width: 1180px;
}
main h1{
  margin-bottom: 70px;
}
div.blog_category{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
}
div.blog_category > span{
  color: #A8A393;
  font-size: 26px;
  text-align: center;
  letter-spacing: 5px;
  text-indent: 5px;
  margin: 0 48px;
  padding: 12px 20px;
  border-bottom: 2px solid #A8A393;
}
div.blog_category > span:nth-child(1){
  color: #9C7C62;
  font-weight: bold;
  border-bottom: 3px solid #9C7C62;
}
div.blog_category > span:hover{
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .1));
}
/* blog瀑布流 */
div.grid_container{
  padding: 0 80px;
  display: grid;
  gap: 14px;
  grid-template-rows: repeat(15, 100px);
  grid-template-columns: repeat(3, auto);
}
@keyframes pop_up{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
div.grid_item.aos-animate{
  animation: pop_up 2.3s ease both;
}
div.grid_item{
  position: relative;
  opacity: 0;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
div.grid_item:hover{
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .4);
  transition: all .9s ease-in;
}
div.grid_item:nth-child(1){
  grid-area: 1 / 1 / 5 / 3;
}
div.grid_item:nth-child(2){
  grid-area: 2 / 3 / 6 / 4;
}
div.grid_item:nth-child(3){
  grid-area: 5 / 1 / 8 / 2;
}
div.grid_item:nth-child(4){
  grid-area: 5 / 2 / 8 / 3;
}
div.grid_item:nth-child(5){
  grid-area: 6 / 3 / 9 / 4;
}
div.grid_item:nth-child(6){
  grid-area: 8 / 1 / 12 / 2;
}
div.grid_item:nth-child(7){
  grid-area: 8 / 2 / 12 / 3;
}
div.grid_item:nth-child(8){
  grid-area: 9 / 3 / 12 / 4;
}
div.grid_item:nth-child(9){
  grid-area: 12 / 1 / 15 / 2;
}
div.grid_item:nth-child(10){
  grid-area: 12 / 2 / 16 / 4;
}

/* 圖片、標題設定 */
div.grid_item a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
div.grid_item a h2{
  display: inline-block;
  margin: 0;
  color: #9C7C62;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .6);
  padding: 15px 26px;
  letter-spacing: 3px;
  text-indent: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
div.grid_item:nth-child(1) a h2,
div.grid_item:nth-child(3) a h2,
div.grid_item:nth-child(7) a h2,
div.grid_item:nth-child(8) a h2{
  color: white;
}

@media (min-width: 992px) and (max-width: 1199.9px){
  main{
    margin: 0 auto 65px;
    width: 944px;
  }
  main > h1{
    margin-bottom: 65px;
  }
  div.blog_category{
    margin: auto auto 65px;
  }
  div.blog_category > span{
    margin: 0 28px;
  }
  div.grid_container{
    grid-template-rows: repeat(15, 80px);
    gap: 14px;
  }
  div.grid_item a h2{
    padding: 10px 12px;
    letter-spacing: 2px;
    text-indent: 2px;
  }
}
@media (min-width: 768px) and ( max-width: 991.9px){
  main{
    margin: 0 auto 65px;
    width: 708px;
  }
  main > h1{
    margin-bottom: 50px;
  }
  div.blog_category{
    margin: auto auto 50px;
  }
  div.blog_category > span{
    margin: 0 16px;
    font-size: 26px;
    padding: 12px 16px;
    letter-spacing: 4px;
    text-indent: 4px;
  }
  div.grid_container{
    padding: 0 28px;
    gap: 10px;
    grid-template-rows: repeat(15, 60px);
  }
  div.grid_item a h2{
    font-size: 22px;
    padding: 10px 12px;
    letter-spacing: 2px;
    text-indent: 2px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main{
    margin: 0 auto 120px;
    width: 531px;
  }
  main > h1{
    margin-bottom: 45px;
  }
  div.blog_category{
    margin: auto auto 50px;
  }
  div.blog_category > span{
    margin: 0 16px;
    font-size: 24px;
    padding: 12px 14px;
    letter-spacing: 3px;
    text-indent: 2px;
  }
  div.grid_container{
    padding: 0;
    gap: 8px;
    grid-template-rows: repeat(15, 55px);
  }
  div.grid_item.aos-animate{
    animation: none;
  }
  div.grid_item{
    opacity: 1;
  }
  div.grid_item a h2{
    font-size: 20px;
    padding: 8px 12px;
    letter-spacing: 1px;
    text-indent: 0;
  }
}
@media (max-width: 575.9px){
  main{
    margin: 0 auto 90px;
    width: 100%;
  }
  main > h1{
    padding-top: 70px;
    margin-bottom: 40px;
  }
  div.blog_category{
    margin: auto auto 40px;
  }
  div.blog_category > span{
    margin: 0 9px;
    font-size: 20px;
    white-space: nowrap;
    padding: 6px 9px;
    letter-spacing: 0;
    text-indent: 0;
  }
  div.blog_category > span:nth-child(1){
    font-weight: 600;
    border-bottom: 2px solid #9C7C62;
  }
  div.grid_container{
    padding: 0;
    gap: 6px;
    grid-template-rows: repeat(15, 40px);
  }
  div.grid_item.aos-animate{
    animation: none;
  }
  div.grid_item{
    opacity: 1;
  }
  div.grid_item a h2{
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px;
    letter-spacing: 1px;
    text-indent: 0;
  }
}

/* 頁籤 */
div.pagination_block{
  margin: 100px auto;
}
ul.pagination{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.pagination li a{
  color: #B2B2B2;
  text-decoration: none;
  padding: 6px 16px;
  border: 1px solid #B2B2B2;
  border-right: none;
}
ul.pagination li:first-child a{
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child a{
  border-right:1px solid #B2B2B2;
  border-radius: 0 5px 5px 0;
}
ul.pagination li:nth-child(2) a{
  color: #9D7C62;
  font-weight: bold;
  background-color: #F4F0ED;
}
ul.pagination li a:hover{
  color: #9D7C62;
  background-color: #F4F0ED;
}
button.more{
  border: none;
  margin: 100px auto;
  display: none;
  padding: 12px 16px;
  letter-spacing: 6px;
  text-indent: 6px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, .8);
}
@media (min-width: 576px) and (max-width: 767.9px){
  div.pagination_block{
    display: none;
  }
  button.more{
    display: block;
    margin: 80px auto;
  }
}
@media (max-width: 575.9px){
  div.pagination_block{
    display: none;
  }
  button.more{
    display: block;
    margin: 65px auto;
    padding: 10px 12px;
    letter-spacing: 4px;
    text-indent: 4px;
  }
}
